@import url("https://fonts.googleapis.com/css?family=Roboto");
/*****************************************************************************/
/* General: Style */
/*****************************************************************************/
* {
  box-sizing: border-box; }

#dashboard {
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
  background: #24303a;
  color: white;
  /*****************************************************************************/
  /* General: Style */
  /*****************************************************************************/
  /*****************************************************************************/
  /* c3: Style */
  /*****************************************************************************/
  /*****************************************************************************/
  /* c3: Style */
  /*****************************************************************************/
  /*****************************************************************************/
  /* Charts: Style */
  /*****************************************************************************/
  /*****************************************************************************/
  /* Charts: Style */
  /*****************************************************************************/
  /*****************************************************************************/
  /* Cards: Style */
  /*****************************************************************************/
  /*****************************************************************************/
  /* Cards: Style */
  /*****************************************************************************/
  /*****************************************************************************/
  /* Nav: Style */
  /*****************************************************************************/
  /*****************************************************************************/
  /* Nav: Style */
  /*****************************************************************************/ }
  #dashboard #wbs1 .hero, #dashboard .card-header {
    background: #7A3BAA; }
  #dashboard #wbs3 {
    max-width: 50%; }
    #dashboard #wbs3 .hero, #dashboard #wbs3 .card-header {
      background: #3D90BC; }
  #dashboard #wbs2 {
    max-width: 50%; }
    #dashboard #wbs2 .hero, #dashboard #wbs2 .card-header {
      background: #249D6D; }
  #dashboard #wbs2-column .stats-card-content:first-child {
    height: 43%; }
    #dashboard #wbs2-column .stats-card-content:first-child .stats-number {
      margin-top: -5px; }
  #dashboard #wbs2-column .stats-card-content:last-child {
    height: 57%; }
    #dashboard #wbs2-column .stats-card-content:last-child .stats-column {
      padding-top: 7px;
      padding-bottom: 30px; }
      #dashboard #wbs2-column .stats-card-content:last-child .stats-column li {
        line-height: 35px;
        font-size: 33px; }
  #dashboard .container {
    display: flex; }
  #dashboard .page {
    height: 100vh;
    overflow-x: hidden; }
  #dashboard .page-content {
    flex-basis: 0;
    flex-grow: 1; }
  #dashboard .row {
    display: flex; }
  #dashboard .rows-2 {
    height: calc(100% - 114px); }
    #dashboard .rows-2 > .row {
      height: 50%; }
  #dashboard .cards-2 > div.card {
    width: 50%; }
  #dashboard #wbs1 .row:first-child .card:nth-child(odd) {
    width: 25%; }
  #dashboard #wbs1 .row:first-child .card:nth-child(even) {
    flex-grow: 2;
    width: 50%; }
  #dashboard .c3 text {
    fill: white;
    font-weight: 300; }
  #dashboard .c3 path, #dashboard .c3 line {
    fill: none;
    stroke: #acacac; }
  #dashboard #freq .c3-axis-x g.tick line {
    display: none; }
  #dashboard .c3-axis-y g.tick line {
    fill: #e5e5e5; }
  #dashboard .c3-legend-background {
    opacity: 1;
    fill: #2e3e4b;
    stroke: #fff; }
  #dashboard #freq .c3-axis-y-label {
    font-size: 17px;
    transform: translateY(-3px); }
  #dashboard .spline-chart .c3-axis-y-label {
    font-size: 17px;
    transform: translateX(-14px) rotate(-90deg) !important; }
  #dashboard #dui-nec-bland.spline-chart .c3-axis-y-label {
    transform: translateX(-12px) rotate(-90deg) !important; }
  #dashboard #enim-bibendum .c3-axis-y-label {
    font-size: 17px;
    transform: translateX(-10px) rotate(-90deg) !important; }
  #dashboard .c3-legend-item {
    font-size: 14px; }
  #dashboard .c3-grid line {
    stroke: #2e3e4b !important; }
  #dashboard .c3-xgrid, #dashboard .c3-ygrid {
    stroke-dasharray: 0 !important; }
  #dashboard #enim-bibendum .c3-axis-x {
    font-size: 17px; }
  #dashboard #enim-bibendum .c3-axis-y {
    font-size: 17px; }
  #dashboard #freq .c3-axis-x {
    font-size: 16px; }
  #dashboard #freq .c3-axis-y {
    font-size: 16px; }
  #dashboard .spline-chart .c3-line {
    stroke-width: 3px; }
  #dashboard .spline-chart .c3-axis-x {
    font-size: 16px; }
  #dashboard .spline-chart .c3-axis-y {
    font-size: 15px; }
  #dashboard #dui-nec-bland .c3-line, #dashboard #habitasse .c3-line {
    stroke: white !important; }
  #dashboard .card {
    margin: 15px;
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    background-color: #1e2730;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 4px 20px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px; }
  #dashboard .card-header {
    height: 54px;
    font-size: 1.6em;
    line-height: 54px;
    color: white; }
  #dashboard .card-content {
    padding: 12px; }
  #dashboard .cloud-card.card {
    padding: 20px 15px; }
  #dashboard .header-card.card {
    flex-direction: column;
    padding: 0;
    padding-top: 0px; }
  #dashboard .header-card .card-content {
    padding-right: 8px;
    padding-left: 8px;
    height: calc(100% - 54px);
    display: flex; }
  #dashboard .cloud-card-content {
    width: 100%; }
    #dashboard .cloud-card-content svg {
      margin: auto; }
    #dashboard .cloud-card-content text {
      font-family: 'Roboto' !important; }
      #dashboard .cloud-card-content text:nth-child(0) {
        fill: #4000C0 !important; }
      #dashboard .cloud-card-content text:nth-child(9n+1) {
        fill: #39b3e4 !important; }
      #dashboard .cloud-card-content text:nth-child(9n+2) {
        fill: #fb7c11 !important; }
      #dashboard .cloud-card-content text:nth-child(9n+3) {
        fill: #31da7d !important; }
      #dashboard .cloud-card-content text:nth-child(9n+4) {
        fill: #ae60ca !important; }
      #dashboard .cloud-card-content text:nth-child(9n+5) {
        fill: #d23b2b !important; }
      #dashboard .cloud-card-content text:nth-child(9n+6) {
        fill: #f9d70b !important; }
      #dashboard .cloud-card-content text:nth-child(9n+7) {
        fill: #ea4c87 !important; }
      #dashboard .cloud-card-content text:nth-child(9n+8) {
        fill: #171ad3 !important; }
      #dashboard .cloud-card-content text:nth-child(9n+9) {
        fill: #ffffff !important; }
  #dashboard .stats-card.card {
    color: white;
    font-weight: bold; }
  #dashboard .stats-card-content {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center; }
  #dashboard .stats-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    padding: 25px 15px; }
    #dashboard .stats-column li {
      text-transform: capitalize;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 42px;
      font-size: 36px;
      text-align: center; }
  #dashboard .stats-number {
    margin-top: -15px;
    line-height: 84px;
    font-size: 72px; }
  #dashboard .stats-text {
    line-height: 48px;
    font-size: 42px; }
  #dashboard .stats-label {
    position: absolute;
    top: 70%;
    font-weight: 300;
    width: 100%;
    margin-top: 20px;
    font-size: 19px; }
  #dashboard .ion-checkmark-round {
    color: #2CA02C; }
  #dashboard .ion-close-round {
    color: #EF6670; }
  #dashboard table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    font-size: 18px; }
    #dashboard table td, #dashboard table th {
      font-size: 19px;
      height: 40px;
      vertical-align: middle; }
    #dashboard table i {
      font-size: 22px; }
    #dashboard table img {
      width: 24px; }
    #dashboard table thead tr {
      font-size: 19px;
      font-weight: 600;
      border-top: 2px solid white;
      border-bottom: 2px solid white; }
    #dashboard table td span, #dashboard table td div {
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      text-align: -webkit-center;
      height: 20px; }
    #dashboard table tbody tr:nth-child(odd) {
      background: #2e3e4b; }
    #dashboard table tbody tr:first-child th {
      border-top: 0; }
    #dashboard table tbody tr:last-child td {
      border-bottom: 0; }
  #dashboard .table-card.header-card .sk-folding-cube {
    top: 50%;
    transform: rotateZ(45deg) translateY(-50%); }
  #dashboard .table-card.header-card .card-content {
    overflow: hidden;
    padding: 0;
    display: block; }
  #dashboard .nav-container {
    height: 114px; }
  #dashboard .nav {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 52px;
    line-height: 90px;
    height: 90px; }
  #dashboard .hero {
    background-color: #09d0c9;
    height: 24px;
    box-sizing: border-box; }
  #dashboard .sk-folding-cube {
    margin: auto;
    width: 50px !important;
    height: 50px !important; }
